{% extends 'base.html' %}
{% block content %}
 <div class="justify-content-center">
<div class="col-auto"> 
{% comment %} <style>
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    width: 50%;
    padding-bottom: 50%;
    display: inline-block;
}</style> {% endcomment %}
{% comment %} <style>
table, th, td {
border: 1px solid Black;}

/* make the table a 100% wide by default */
table {
width: 100%;}

/* if the browser window is at least 800px-s wide: */
@media screen and (min-width: 800px) {
  table {
  width: 90%;}
}

/* if the browser window is at least 1000px-s wide: */
@media screen and (min-width: 1000px) {
  table {
  width: 80%;}
}
</style> {% endcomment %}
<table class="table table-striped table-hover table-dark mt-5" style="">
    <thead>
      <tr>
        <th scope="col" >#</th>
        <th scope="col" >Description</th>
        <th scope="col" >Parent</th>
        {% comment %} <th scope="col">Last</th>
        <th scope="col">Handle</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
    {% for part  in object_list %}
        <tr>
        <th scope="row" >{{ part.part_number }}</th>
        <td>{{part.part_desc}}</td>
        <td>{{part.parent_part}}</td>
        {% comment %} <!-- <td>Otto</td>
        <td>@mdo</td> --> {% endcomment %}
      </tr>
    
    {% endfor %}
    
    </tbody>
  </table>
 </div>

  </div> 

  <a href="{% url 'part-add' %}"><button class="primary">Add</button></a>

{% endblock content %}